.Login-Form {
  margin-top: 10%;
}

.submitLogin {
  margin-top: 5%;
}

.newAccount {
  margin-top: 5%;
}
@media screen and (min-width: 768px) {
  .Login-Form {
    margin-top: 3%;
  }

  .submitLogin {
    margin-top: 3%;
  }

  .newAccount {
    margin-top: 3%;
  }
}

@media screen and (min-width: 1440px) {
  .Login-Form {
    margin-top: 1%;
  }

  .submitLogin {
    margin-top: 1%;
  }

  .newAccount {
    margin-top: 1%;
  }
}
