@media screen and (min-width: 100px) {
  .recipe-title {
    text-align: center;
  }
  .recipe_description {
    text-align: center;
  }
  .recipe_ingredients {
    text-align: center;
  }
  .timeToMakeRecipe {
    text-align: center;
  }
  .recipeOwner {
    text-align: center;
  }
  .recipe-date_created {
    text-align: center;
  }
  .recipeDescription {
    text-align: center;
  }
  .recipeIngredients {
    text-align: center;
  }
  .recipe-date_created {
    text-align: center;
    width: 100%;
  }
  .RecentResults {
    margin-top: 90%;
  }

  .flex-container {
    margin-top: 5%;
  }

  .Result-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .Result-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .Result-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .Result-item {
    margin: 5%;
    padding: 3%;
  }

  .ThingRecipeItem {
    margin-top: 5%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }

  .Results-item:nth-child(1) {
    margin-top: 12%;
  }

  .ThingRecipeItem:hover {
    cursor: pointer;
    opacity: 50%;
    transition: all 0.5s;
    background-color: rgb(42, 100, 30);
  }

  .Landing {
    margin-top: 95%;
  }

  .ThingRecipeItem,
  .ThingRecipeItem:visited {
    color: var(--alt-text);
  }

  .ThingRecipeItem__details {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 90;
  }

  .ThingRecipeItem__details h2 {
    margin: 0;
  }

  .ThingRecipeItem__details .ThingStarRating {
    padding: 5px 0;

    opacity: 0.85;
  }

  .ThingRecipeItem__details span {
    display: block;

    opacity: 0.5;
  }
}

@media screen and (min-width: 219px) {
  .ThingRecipeItem {
    text-align: center;
    margin-top: 5%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}

.Landing {
  margin-top: 95%;
}

@media screen and (min-width: 374px) {
  .RecentResults {
    margin-top: 60%;
  }
  .Landing {
    margin-top: 80%;
  }
  .ThingRecipeItem {
    margin-top: 5%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 424px) {
  .RecentResults {
    margin-top: 60%;
  }
  .Landing {
    margin-top: 75%;
  }
  .ThingRecipeItem {
    margin-top: 5%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 479px) {
  .RecentResults {
    margin-top: 50%;
  }
  .Landing {
    margin-top: 65%;
  }
  .ThingRecipeItem {
    margin-top: 5%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 767px) {
  .RecentResults {
    margin-top: 30%;
  }
  .Landing {
    margin-top: 40%;
  }
  .ThingRecipeItem {
    margin-top: 5%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 1023px) {
  .RecentResults {
    margin-top: 25%;
  }
  .Landing {
    margin-top: 30%;
  }
  .ThingRecipeItem {
    margin-top: 5%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 1439px) {
  .RecentResults {
    margin-top: 18%;
  }
  .Landing {
    margin-top: 22%;
  }
  .ThingRecipeItem {
    margin-top: 3%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 1919px) {
  .RecentResults {
    margin-top: 12%;
  }

  .Landing {
    margin-top: 16%;
  }

  .ThingRecipeItem {
    margin-top: 3%;
    background: var(--alt-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    margin-right: 200px;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}
/* 
@media screen and (min-width: 1px) {
  .flex-container {
    margin-top: 5%;
  }
} */
